* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    margin-top: 20px;
}

#main {
    border: 1px solid;
    width: 600px;
    height: 500px;
    margin: 10px auto;
}

#human {
    z-index: 100;
}

#face {
    width: 90px;
    height: 90px;
    border: 1px solid;
    border-radius: 50%;
    position: relative;
    top: 40%;
    left: 35%;
    background-color: white;
    display: flex;
    justify-content: space-around;
}

.eye {
    position: relative;
    top: 20px;
    left: 15px;
}

#mouth {
    position: relative;
    top: 50px;
    right: 30px;
}

#right-hand {
    height: 80px;
    width: 2px;
    background-color: black;
    position: relative;
    top: 200px;
    left: 47.5%;
    transform: rotate(50deg);
}

#left-hand {
    height: 80px;
    width: 2px;
    background-color: black;
    position: relative;
    left: 37.4%;
    transform: rotate(-50deg);
}

#chest {
    height: 120px;
    width: 2px;
    background-color: black;
    position: relative;
    top: 119px;
    left: 42.5%;
}
#left-leg {
    height: 80px;
    width: 2px;
    background-color: black;
    position: relative;
    top: 10px;
    left: 39%;
    transform: rotate(30deg);
}

#right-leg {
    height: 80px;
    width: 2px;
    background-color: black;
    position: relative;
    bottom: 69px;
    left: 45.9%;
    transform: rotate(-30deg);
}

#stand1 {
    height: 384px;
    width: 7px;
    background-color: black;
    position: relative;
    bottom: 457px;
    left: 72.5%;
}

#stand2 {
    height: 187px;
    width: 7px;
    background-color: black;
    position: relative;
    bottom: 931px;
    left: 57.5%;
    transform: rotate(270deg);
}

#hang2 {
    position: relative;
    width: 2px;
    height: 120px;
    background-color: black;
    bottom: 1024px;
    left: 42.6%;
}

img {
    width: 70px;
    height: 200px;
    position: relative;
    bottom: 1025px;
    left: 38.5%;
    z-index: -1;
}

#rope {
    position: relative;
    bottom: 1047px;
    left: 39%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-bottom: 5px solid;
}

#answer-screen {
    text-align: center;
}

p {
    font-size: 30px;
    margin: 10px 0;
}

#user-input {
    width: 50px;
    font-size: 30px;
    color: orange;
}

#fill-input {
    font-size: 30px;
}

.deadBody {
    position: relative;
    animation: hangup 2s ease-out;
    bottom: 50px;
}

@keyframes hangup {
    0% {
        bottom: 10px;
    }

    50% {
        bottom: 30px;
    }

    100% {
        bottom: 50px;
    }
}

form {
    font-size: 30px;
}
input[type='button'] {
    height: 30px;
    width: 50px;
    border: none;
    border: 1px solid rgb(241, 205, 151);
    background-color: blanchedalmond;
    border-radius: 10px;
}